*{
  margin: 0.5rem;
  padding: 0;
  box-sizing: content-box;
 
}

.topnav{
  display: flex;
  height: 10vh;
  background-color:darkseagreen;
  align-items: center;
  justify-content: center;

}
.topnav a{
  text-decoration: none;
  color:black;
  margin: 0 1rem;
    
}
form{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto
}
input[type="submit"] {
  width: 20%;
}

body > table {
  width: 80%;
}
table {
  border-collapse: collapse;
}
table.list {
  width: 100%;
}
td,
th {
  border: 2px solid darkseagreen;
  text-align: left;
  padding: 12px;
}
tr:nth-child(even),
table.list thead > tr {
    text-decoration: none;
  color:black;
  background-color: darkseagreen;
  font-size: large;
}
